.progress-bar-wrapper {
  margin: 10px 0;

  .progress-bar {
    min-height: 40px;
    width: 100%;

    .progress-bar-progress {
      min-height: 40px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
      min-width: 0;
      width: 100%;
      transition: all 1s ease;
    }

    .response-percentage {
      padding-right: 10px;
      font-family: "Gotham Book sans-serif";
      &::after {
        content: "%";
      }
    }
  }
}
.drug-name {
  font-size: 24;
  font-family: "Gotham Book sans-serif";
}
